.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .trigger:hover {
    color: #1890ff;
  }
  
  .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
  .ant-layout.ant-layout-has-sider{
    overflow-y: hidden;
    height: 100vh;
  }
  .logo{
    line-height: 32px;
    font-size: 18px;
    text-align: center;
    font-family: YouYuan;
    font-weight:bold;
    color: #000;
    text-shadow: 0 1px 1px #fff;
    overflow: hidden;
  }
  .ant-card{
    width: 100% !important;
  }
.ant-layout-sider-children{
  overflow-x: hidden;
  overflow-y: scroll;
}